{
  "notify":{
    "email":"email@email.com"
  },
  "smtp":{
    "host":"",
    "port":"",
    "security":"",
    "user":"",
    "pass":"",
    "from":{
      "name":"Crontoller",
      "email":"crontroller@email.com"
    }
  }
}
